{% extends "webapp/pltpadre.html" %}

{% block title %} Tienda online {% endblock %}

{% block content %} 


<div class="container">

  <div class="row">

  {% for producto in productos %}
    <div class="col-md-3">

      <div class="card" style="width: auto; margin: 8px 8px; background-color: rgb(0, 31, 74); color: azure;">

        <img src="{{producto.imagen.url}}" class="card-img-top">
        <div class="card-body" style="text-align: center;">
            <h5 class="card-title">{{producto.codigo}}</h5>

              {% if producto.disponibilidad == True %}

              <h6 class="card-title">Disponible</h6>

              {% else %}

              <h6 class="card-title">No disponible</h6>

              {% endif %}

            <h6 class="card-title">{{producto.precio}}$</h6>
            <h6 class="card-title">{{producto.categorias}}</h6>
            
          
            

        </div>
        


      </div>

    </div>
  {% endfor %}
  </div><!--cierre row-->
</div><!--cierre container-->

<section>

    <div style="margin: auto; text-align: center; color: white;">
    
        Categorias: &nbsp;&nbsp;

        {% for categoria in categorias %}

        &nbsp;&nbsp;<a href="{% url 'categoriat' categoria.id %} "> {{categoria.nombre}}</a> &nbsp;&nbsp;  

        {% endfor %}


    </div>

</section>




{% endblock %}