{% extends "webapp/pltpadre.html" %}

{% block title %} Contáctanos {% endblock %}

{% block content %} 

    <div class="form_contacto"> 
        
        {% if "valido" in request.GET %} <!--si al cargar tiene esa palabra en la url (por la redireccion) realiza la accion siguiente-->

        <p style="color: white;">Informacion enviada correctamente</p>

        {% endif %}


        <form action="" method="post" style="text-align: center;">

            {% csrf_token %}

            <table style="color:white; margin: 20px auto; text-align: 10px auto;">
            

                {{form_contacto.as_table}}
        
            </table>

            <input type="submit" value="Enviar" style="width: 150px;">

        </form>

    </div>  

{% endblock %}